<!--
 Copyright 2022 Johannes Thorén. All rights reserved.
 Use of this source code is governed by a BSD-style
 license that can be found in the LICENSE file.
-->

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>

<body>
    <form class="card" action="{{url}}" method="post">
        <h1>File is password protected</h1>
        <label for="Passowrd">Password</label> <input class="input" name="Password" type="password">
        <input type="submit" value="Unlock" class="btn">
    </form>
</body>

</html>